
    $fuenteEncabezado: 'Anton', sans-serif;
    $fuenteLetras: 'Anek Malayalam', sans-serif;

    $Rojofuerte: #8f0000;
    $Negro: #000000;
    $Dorado: #efb810;
    $Rojoclaro: #af2424;
    $Rojofooter: #A90000;
